<% if subscriber.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>

    <ul>
      <% subscriber.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div>
  <div>
    <%= form.label :url, 'URL' %>
    <%= form.text_field :url, type: :url %>
  </div>

  <div>
    <%= form.label :active, 'Active' %>
    <%= form.check_box :active, {}, 'true', 'false' %>
  </div>

  <div>
    <% RailsWebhooks.get_events.each do |events_hash| %>
       <% class_name = events_hash[:class_name] %>
       <% events = events_hash[:events] %>
        <%= label_tag "subscriptions[#{class_name}]", class_name %>
        <%= check_box_tag "subscriptions[#{class_name}]", true, false %>

        <% events.each do |event| %>
          <% event_name = "#{class_name}.#{event}" %>
          <%= label_tag "subscriptions[#{event_name}]", event %>
          <%= check_box_tag "subscriptions[#{event_name}]", true, false, multiple: true %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= form.submit %>
</div>
